<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", class: 'cc_form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="form-group mt-3 col-md-6">
      <%= f.label :first_name %><br />
      <%=  f.text_field :first_name, autofocus: true, autocomplete: "first name", class: 'form-control' %>
    </div>

    <div class="form-group mt-3 col-md-6">
      <%= f.label :last_name %><br />
      <%=  f.text_field :last_name, autofocus: true, autocomplete: "last name", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group mt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="row">
    <div class="form-group mt-3 col-md-6">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted">
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        </small>
      <% end %>
    </div>

    <div class="form-group mt-3 col-md-6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>
  </div>

  <%= f.fields_for :organization do |o| %>
    <div class="form-group mt-3">
      <%= o.label :name, 'Organization' %>
      <span class='description'>(Unique name for your group or organization for the new account)</span>
      <%= o.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= o.label :plan_id, "plan" %>
      <%= o.select :plan_id, options_for_select(Plan.options_for_select), {}, required: true, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions mt-3">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
