<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron">
    <h2>Welcome to the Project Management Application!</h2>
    <p class="lead">
      You will love managing your projects with our application. Please take a look at our great plans!
    </p>
  </div>

  <div class="container">
    <div class="plans row justify-content-center" style="gap: 1rem">
      <% @plans.each do |plan| %>
        <div class="plan border border-dark rounded h-10" style="height: 15rem; width: 15rem">
          <h2><%= plan.name %> Plan</h2>
          <div class="price mb-2">
            <strong>Price: <%= plan.price == 0 ? "Free" : "$#{'%.2f' % plan.price}" %></strong>
          </div>
          <div class="features">
            <ul>
              <% plan.plan_descriptions.each do |description| %>
                <li><%= description.content.strip.capitalize %></li>
              <% end %>
            </ul>
          </div>
          <p class="text-center">
            <%= link_to 'Sign Up', new_user_registration_path(plan_id: plan.id), class: 'btn btn-primary sign-up' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>