<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Completion date:</strong>
    <%= project.completion_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <% if project.completed? %>
      <%= "Complete" %>
    <% else %>
      <%= "Ongoing" %>
    <% end %>
  </p>

  <%= link_to("Add Artifact", new_artifact_path(project_id: @project.id), class: '') %>
</div>
